# Node
/node_modules
npm-debug.log
yarn-error.log

# Node
/backend/node_modules
/backend/npm-debug.log
/backend/yarn-error.log

# Node
/mfe-cadastro/node_modules
/mfe-cadastro/npm-debug.log
/mfe-cadastro/yarn-error.log


# Node
/mfe-sucesso/node_modules
/mfe-sucesso/npm-debug.log
/mfe-sucesso/yarn-error.log

# Node
/mfe-sucesso/node_modules
/mfe-sucesso/npm-debug.log
/mfe-sucesso/yarn-error.log

# Node
/shell/node_modules
/shell/npm-debug.log
/shell/yarn-error.log

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# Miscellaneous
/shell/.angular/cache
/shell/.sass-cache/
/shell/connect.lock
/shell/coverage
/shell/libpeerconnection.log
/shell/testem.log
/shell/typings

# Miscellaneous
/mfe-cadastro/.angular/cache
/mfe-cadastro/.sass-cache/
/mfe-cadastro/connect.lock
/mfe-cadastro/coverage
    /mfe-cadastro/libpeerconnection.log
/mfe-cadastro/testem.log
/mfe-cadastro/typings

# Miscellaneous
/mfe-sucesso/.angular/cache
/mfe-sucesso/.sass-cache/
/mfe-sucesso/connect.lock
/mfe-sucesso/coverage
/mfe-sucesso/libpeerconnection.log  